:root {
  --navbar-height: 91px;
  //useful
  --di-primary: #eaeeb2;
  --di-background-color: #cbc9c2;

  //example
  --di-border-color: rgb(149, 163, 149);
  --di-border-radius: 4px;
  --di-line-heigth: 1.4;
}
