.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(12, 12, 77);
}

.agents-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(12, 12, 77);
  height: 100%;
  color: #ece8e1;
}

p {
  font-family: tungstenBold;
  letter-spacing: 1px;
  font-size: 7rem;
  text-transform: uppercase;
}
