.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.agents-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  // height: 100%;
}
